body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: grid;
  grid-template: auto auto / minmax(200px, 300px) 1fr;
}

:root {
  --blue: rgb(31, 109, 145);
  --grey: #c0cece;
  --orange: rgb(231, 167, 46);
  --border: #a2adad96;
}

.icon {
  height: 20px;
  width: 20px;
}

.logo-icon {
  height: 25px;
  width: 25px;
}

a {
  text-decoration: none;
}

/*     sidebar     */

.sidebar-container {
  background-color: var(--blue);
  color: white;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 15px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo-container > div {
  margin-left: 5px;
}
.sidebar-items {
  font-size: 0.9rem;
}

.sidebar-items > a {
  gap: 15px;
  height: 30px;
}

.sb-item {
  color: white;
  display: flex;
  align-items: center;
}

.sidebar-settings {
  margin-top: 50px;
  font-size: 0.9rem;
}

.sidebar-settings > a {
  gap: 15px;
  height: 30px;
}

/*     header     */

.header-container {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.search-bar {
  border: 2px solid var(--grey);
  border-radius: 10px;
  min-width: 650px;
  height: 1.5rem;
  background-color: var(--grey);
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.profile-pic-small {
  height: 30px;
  width: 30px;
  background-color: var(--orange);
  border-radius: 20px;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
.profile-pic-large {
  height: 60px;
  width: 60px;
  background-color: var(--orange);
  border-radius: 50px;
}

.current-user-container {
  display: flex;
  align-items: center;
  margin: 0 0 0 30px;
}

.profile-intro {
  margin-left: 20px;
  padding: 0;
}

.functionBtn {
  background-color: var(--blue);
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: none;
}
/*     main content     */

.main-content-container {
  display: grid;
  grid-template: auto auto / 3fr 1fr;
  background: var(--grey);
  padding: 20px;
}

/* cards */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 150px;
  border-left: 8px solid var(--orange);
  border-radius: 8px;
  box-shadow: 3px 3px 1px var(--border);
  background-color: white;
  font-size: 0.8rem;
  margin: 0 0 20px 0;
  padding-left: 20px;
}

.card-title {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0;
}

.card-body {
  font-size: 0.6rem;
  width: 70%;
}
.card-icons {
  display: flex;
  justify-content: right;
  gap: 20px;
  padding-right: 10px;
}

/* announcements */

.announcement-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 1px var(--border);
  padding: 15px;
}

.announcement-section:nth-child(2) {
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

.announcement-header {
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0;
}

.announcement-body {
  font-size: 0.5rem;
}

/* trending  */

.trending-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 1px var(--border);
  padding: 10px;
}

.trending-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 0;
}

.trending-user-info {
  margin-left: 20px;
  width: 100px;
}

.trending-userid {
  font-size: 0.6rem;
  font-weight: bold;
  margin: 5px;
}

.trending-username {
  font-size: 0.6rem;
  margin: 5px;
}
