.h1Test {
    background-color: red;
    color: white;
    text-align: center;
}

.pTest2 {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.row3,
.div2 {
    font-size: 24px;
}

.div1 {
    font-size: 36px;
    color: blue;
}

.div2 {
    background-color: green;
    font-weight: bold;
}

.testBtn1 {
    font-size: 28px;
    font-family: Helvetica, "Time New Roman", sans-serif;
    text-align: center;
    margin: auto;
}
.btn1 {
    background-color: black;
    color: white;
}

.btn2 {
    background-color: yellow;
}

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* Cascade Fix */

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
    font-size: 22px;
  }

.small-para {
  font-size: 14px;
  font-weight: 800;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
  }

.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

