.container {
  display: inline-grid;
  grid-template: 50px 50px 50px 50px 50px / 50px 50px 50px 50px 50px;
  background-color: lightblue;
}

.room {
  border: 1px solid;
  font-size: 60%;
  text-align: center;
}

#living-room {
  grid-column: 1/6;
  grid-row: 1/3;
}

#bathroom {
  grid-column: 3/4;
  grid-row: 3/6;
}

#bedroom {
  grid-column: 1/3;
  grid-row: 3/5;
}

#kitchen {
  grid-column: 4/6;
  grid-row: 3/6;
}

#closet {
  grid-column: 1/3;
  grid-row: 5/6;
}
