body {
  background-color: silver;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 200px 400px;
  grid-template-rows: 50px 100px;
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.item {
  background-color: white;
  height: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}
