body {
    margin: 0;
}

/* navBar Start */
.navContainer {
    display: flex;
    background-color: grey;
    height: 50px;
}

.navUl {
    display: flex;
    padding: 0 0 0 10px; 
}

li {
    list-style-type: none;
}

.indexLink {
    color: rgb(100, 54, 54);
}
nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.indexLink:hover {
    color: white;
}

a:hover {
    color: rgb(100, 54, 54);
}

/* Navbar end */

