@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.main-container {
  display: flex;
}

.left-content-container {
  background-image: url("/odin/repos/sign-up/greenleaf.avif");
  width: 30%;
  height: 100vh;
  background-size: cover;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 200px;
}

.logo {
  height: 90%;
  width: auto;
}
.logo-text {
  color: white;
  font-size: 3.5rem;
  font-family: "Amatic SC", sans-serif;
}

/* right side info */

.right-content-container {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  width: 100%;
  background-color: grey;
}
.right-top-container {
  border: 5px solid blue;
  height: 33%;
  width: 100%;
}

.right-middle-container {
  display: flex;
  border: 5px solid red;
  height: 33%;
  width: 100%;
}

fieldset {
  background-color: white;
  width: 100%;
}

.form-container {
  display: flex;
  width: 100%;
}

.left-form-content {
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  width: 40%;
  height: 100%;
}
.right-form-content {
  display: flex;
  flex-direction: column;
  border: 2px solid aqua;
  width: 40%;
  height: 100%;
}

.right-bottom-container {
  border: 5px solid green;
  height: 33%;
  width: 100%;
}
