body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.left-content {
  background-image: url("/odin/repos/sign-up/greenleaf.avif");
  width: 30%;
  height: 100vh;
  background-size: cover;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 200px;
}

.logo {
  height: 90%;
  width: auto;
}
.logo-text {
  color: white;
  font-size: 3.5rem;
}

.right-content {
  width: 60%;
}
