#calc {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#displayContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  background-color: rgb(235, 235, 235);
}

#displayText {
  padding-right: 10px;
}

#btnContainer {
  display: flex;
}

button {
  width: 50px;
  height: auto;
}
