* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.button-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  padding: 20px;
  color: #ffffff;
  background-color: #0e79dd;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

/* .hover-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hover-button {
  height: 40px;
  width: 100px;
  font-size: 1rem;
  color: white;
  border-radius: 8px;
  background-color: rgb(30, 99, 204);
  transition: transform 0.3s ease-in-out;
}

.hover-button:hover {
  transform: scale(1.25);
}
