/* self test css */

/* #firstDiv {
    border: 5px solid green;
    display: flex;
    justify-content: space-around;
}

#leftDiv {
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}


#innerLeftDiv {
    border: 5px solid pink;
    display: flex;
    align-items: center;
}

#rightDiv {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#innerRightDiv {
    border: 5px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* css from https://www.youtube.com/watch?v=vQAvjof1oe4&t=112s*/

.even-columns {
    display: flex;
    gap: 1em;
}

.even-columns > * {
    flex-basis: 100%;
}


.grid-ish {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

/* resize window to see responsive layout */

.grid-ish > * {
    flex: 1 1 10em;
}

.content-sidebar {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.content-sidebar > *:nth-child(1) {
    flex: 1 1 70%;
    min-width: 30ch;
}

.content-sidebar > *:nth-child(2) {
    flex: 1 1 25;
    min-width: 15ch;
}

:root {
    --ff-primary: basic-sans, sans-serif;
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
    --spacer: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.flow > * + * {
    margin-top: var(--flow-space,)
}

a {
    color: var(--clr-primary);
}

.content {
    width: 70vw;
    margin: 3rem auto;
    padding: 2em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
    background: white;
}

.col {
    padding: 3em;
    background: rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.title {
    font-weight: 900;
    color: var(--clr-primary);
}