* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 600px;
  width: 600px;
}

.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

/* .resetBox {
  border: 1px solid black;
  overflow: hidden;
  height: 50px;
  width: 50px;
} */

.box:hover {
  background-color: red;
}
