body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  display: flex;
}

.box {
  border: 5px solid black;
  height: 50px;
  width: 50px;
}

.box:hover {
  border: 5px solid red;
}
