html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
  font-size: 0.8rem;
  max-width: min-content;
  background-color: rgb(240, 240, 240);
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}

td,
th,
tr {
  border: 1px solid black;
}

.bgColor {
  background-color: rgb(204, 204, 204);
}

#bgBlank {
  background-color: rgb(240, 240, 240);
}
