body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-info-header {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-header-title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.left-header-text {
  font-size: 18px;
  color: #e5e7eb;
}

.right-header {
  background-color: grey;
  width: 300px;
  height: 200px;
}

/* header and footer */
.header,
.footer {
  background-color: #1f2937;
  width: 100%;
  color: #f9faf8;
}

.header-ul {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
}
.header-links {
  display: flex;
  font-size: 18px;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}
