body {
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

.bookLi {
  margin-top: 5px;
}

.removeBtn {
  background-color: red;
  font-weight: bold;
  color: white;
  /* margin-left: 30%; */
  border: none;
  border-radius: 3px;
  height: 20px;
  width: 80px;
}

.removeBtn:hover {
  background-color: rgb(179, 60, 60);
}

.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: grey;
  font-weight: bold;
  color: white;
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 0 10px 10px;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-size: 0.8rem;
}

.bookInfo > p {
  margin: 5px;
}

.bookList {
  display: grid;
  grid-template: auto / repeat(5, 1fr);
}
