body {
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

.bookLi {
  margin-top: 5px;
}

.removeBtn {
  background-color: red;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
}

.removeBtn:hover {
  background-color: rgb(179, 60, 60);
}

.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  width: 200px;
  height: 300px;
  border-radius: 5px;
}
