/* .testPic1 {
  height: 200px;
  width: 200px;
  border-radius: 5px; */

/* transform: scaleX(0.25); */
/* transform: rotate(0.15turn);
} */

.box1,
.box2 {
  position: absolute;
  height: 200px;
  width: 200px;
}

.box1 {
  border: 5px solid red;
  transform: rotate(45deg) translate(200%);
}

.box2 {
  border: 5px solid blue;
  transform: perspective();
}
